#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>


#define QWTY 0
#define DVRK 1
#define NAVS 2
#define SYMB 3

/ {
  keymap {
    compatible = "zmk,keymap";

    qwerty {
      bindings = <
    &bootloader
    &kp GRAV   &kp N1     &kp N2     &kp N3     &kp N4     &kp N5     &kp N6     &kp CAPS   &kp N7     &kp N8     &kp N9     &kp N0     &kp MINUS  &kp EQUAL
    &kp TAB    &kp Q      &kp W      &kp E      &kp R      &kp T      &tog DVRK  &kp PG_UP  &kp Y      &kp U      &kp I      &kp O      &kp P      &kp BSLH
    &kp ESC    &kp A      &kp S      &kp D      &kp F      &kp G                            &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp SQT 
    &kp LSHIFT &kp Z      &kp X      &kp C      &kp V      &kp B      &none      &kp PG_DN  &kp N      &kp M      &kp CMMA   &kp DOT    &kp FSLH   &kp RSHIFT
    &kp LCTRL  &kp LBKT   &kp RBKT   &mo NAVS   &kp LALT                                               &mo SYMB   &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT
                                                           &kp HOME   &kp END    &kp PSCRN  &kp INS 
                                                                      &kp LGUI   &kp PGDN
                                                &kp BSPC   &kp DEL                          &kp RET   &kp SPC
                                                                      &mo SYMB   &kp RALT
      >;
    };

    dvorak {
      bindings = <
    &bootloader
    &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans
    &trans     &kp SQT    &kp CMMA   &kp DOT    &kp P      &kp Y      &trans     &trans     &kp F      &kp G      &kp C      &kp R      &kp L      &kp FSLSH
    &trans     &kp A      &kp O      &kp E      &kp U      &kp I                            &kp D      &kp H      &kp T      &kp N      &kp S      &kp BSLH 
    &trans     &kp SEMI   &kp Q      &kp J      &kp K      &kp X      &trans     &trans     &kp B      &kp M      &kp W      &kp V      &kp Z      &trans
    &trans     &trans     &trans     &trans     &trans                                                 &trans     &trans     &trans     &trans     &trans
                                                           &trans      &trans      &trans      &trans
                                                                      &trans      &trans
                                                &trans      &trans                            &trans      &trans
                                                                      &trans      &trans
      >;
    };

    navs {
      bindings = <
    &bootloader
    &trans     &kp F1     &kp F2     &kp F3     &kp F4     &kp F5     &kp F6     &none      &kp F7     &kp F8     &kp F9     &kp F10    &kp F11    &kp F12 
    &trans     &none      &kp UP     &none      &none      &none      &none      &none      &none      &kp KP_N7  &kp KP_N8  &kp KP_N9  &none      &none
    &kp LGUI   &kp LEFT   &kp DOWN   &kp RIGHT  &none      &none                            &none      &kp KP_N4  &kp KP_N5  &kp KP_N6  &none      &none
    &none      &none      &none      &none      &none      &none      &none      &none      &none      &kp KP_N1  &kp KP_N2  &kp KP_N3  &none      &none
    &none      &none      &none      &none      &none                                                  &none      &none      &none      &none      &none
                                                           &none      &none      &none      &none
                                                                      &none      &none
                                                &none      &none                            &trans     &kp KP_N0
                                                                      &none      &none
      >;
    };

    symb {
      bindings = <
    &bootloader
    &bt BT_CLR  &none      &none      &none      &none      &none      &none      &none      &none      &none      &none      &none      &none      &bt BT_SEL 0
    &bt OUT_USB &none      &none      &none      &none      &none      &none      &none      &kp Y      &none      &none      &none      &none      &bt BT_SEL 1
    &bt OUT_BLE &kp LBRC   &kp RBRC   &kp LBKT   &kp RBKT   &none                            &kp H      &kp J      &kp K      &kp L      &none      &bt BT_SEL 2
    &none       &none      &none      &none      &none      &none      &none      &none      &none      &none      &none      &none      &none      &bt BT_SEL 3
    &none       &none      &none      &none      &none                                                  &none      &none      &none      &none      &bt BT_SEL 4
                                                            &none      &none      &none      &none
                                                                       &none      &none
                                                 &none      &none                            &none      &none
                                                                       &none      &none
      >;
    };

  };
};
